header {
    width: 100%;
    padding: 20px 0; 
    box-sizing: border-box; 
}
nav {
    display: flex;
    justify-content: flex-end; 
    padding-right: 50px; 
}
nav a {
    color:gray; 
    text-decoration: none; 
    font-size: 18px; 
    margin-left: 20px;
}
nav a:hover {
    color:black;
}
body{
    background-color: #e6f7ff;
}
.kotak-utama {
    padding-top: 80px; 
    padding-bottom: 80px; 
    max-width: 600px;
    width: 90%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.carousel-area, 
.judul-pemisah, 
.blok-fitur {
    width: 100%;
    margin: 0; 
    padding: 0 10px; 
}
.judul-carousel, .judul-pemisah {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.judul-pemisah {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #cccccc;
}
.slide-container {
    background-color: #f0f0f0;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    min-height: 350px; 
    display: flex;
    justify-content: center;
    position: relative; 
}
.slide-item {
    color: #333;
    border-radius: 5px;
    width: 100%; 
    height: 100%;
    position: absolute; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.slide-item img {
    width: 100%; 
    height: 100%; 
    display: block;
    object-fit: cover; 
}
.kontrol {
    text-align: center;
    margin-bottom: 20px;
}
.kontrol button {
    background: #ff99aa;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
.dot-indikator {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}
.dot-indikator.aktif {
    background-color: #ff99aa;
}
.blok-fitur {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 0; 
}
.blok-satu {
    display: flex;
    gap: 15px;
    align-items: flex-start; 
}
.ikon-gambar {
    width: 50px;
    height: 50px;
    background-color: #4a6d8c; 
    border-radius: 5px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ikon-gambar img {/
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    border-radius: 5px;
}
.teks-info h4 {
    margin: 0 0 5px 0;
    color: #4a6d8c;
}
.teks-info p {
    margin: 0;
    font-size: 14px;
    color: #555;
}
footer {
    background-color: transparent; 
    padding: 20px 0;
    width: 100%;
    text-align: center;
}
.copyright {
    font-size: 14px; 
    color: #4a6d8c; 
    font-weight: 500;
}